<div class="container-fluid text-center head">
    <h1 style="font-size:80px; ">blog fun !!!</h1>
    <h5>get latest infos here...</h5>
    <nav class="navbar navbar-inverse bar">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>