<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header }} 
    
    {{{body}}}
    

    {{> footer }}
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script></script>
  </body>
</html>
