<div class="container-fluid row">
  <div class="col-md-7">
    <div class="container">
      <h2>Recent Post...</h2>
      
      {{#each post }}
      <h2>{{this.title}}</h2>
      <span>{{this.timestamp}}</span>
      <p>{{this.content}}</p>
      {{/each}}
    </div>
  </div>
  
  <div class="col-md-5">
    <div class="container">
      <h4><a href="/newpost">add new post</a></h4>
    </div>
  </div>
</div>