 <div class="container row">
            <div class="col-md-7">
                <form role="form" method="POST" action="/newpost">
              <div class="form-group">
                  <input type="text" name="title" placeholder="post title" class="form-control">
              </div>
              <div class="form-group">
                  <textarea rows="7" name="content" placeholder="blog post..." class="form-control" cols=""></textarea>
              </div>
              <br>
              <input type="submit" name="submit" class="btn btn-primary" value="post blog">
          </form>
          
        </div>